#login__input {
  display: flex;
  flex-direction: column;
}

.login__input__input {
  padding: 1% 1% 1% 2%;

}

#login__input__input__password button{
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
